<!-- About Section -->
    <section id="education">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Education</h2>
                    <h3 class="section-subheading text-muted">I am a Full Stack Developer from Bloomington, Indiana</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>MS Computer Science</h4>
                                    <h4 class="subheading">2014-2016</h4>
                                </div>
                                <div class="timeline-body">
                                    <h5 class="text-muted">Indiana University Bloomington</h5>
                                    <h5 class="text-muted">Bloomington, Indiana</h5>									
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>BE Computer Engineering</h4>
                                    <h4 class="subheading">2007-2011</h4>
                                </div>
                                <div class="timeline-body">
                                    <h5 class="text-muted">University of Pune</h5>
                                    <h5 class="text-muted">Pune, India</h5>									
                                </div>
                            </div>
                        </li>
                        
                        
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>